

body{
    
    background: url(../img/plata.jpg); 
        background-size:cover;
    }

    #formulario {
        width: 220px;
        background-image: url(../img/gis.jpg);
        color: white;
        margin: 50px auto;
        padding: 50px;

    }
    input {
        
         background-color: transparent;
         border: none;
        color: white;
        margin: 5px 0;
        padding: 5px;

        z-index: 1; 
    }
    #login-btn {
        background-color: gray;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
    }

            .custom-button {
      background-color: gray; /* Color inicial del botón */
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 13px;
      .body{
    
    background: url(../img/plata.jpg); 
        background-size:cover;
    }

    #formulario {
        width: 200px;
        background-image: url(../img/gis.jpg);
        color: white;
        margin: 50px auto;
        padding: 50px;

    }
    input {
        
         background-color: transparent;
         border: none;
        color: white;
        margin: 5px 0;
        padding: 5px;

        z-index: 1; 
    }
    #login-btn {
        background-color: gray;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
    }

            .custom-button {
      background-color: gray; /* Color inicial del botón */
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 13px;
      margin: 4px 2px;
      transition-duration: 0.0s; /* Agrega una transición suave */
      cursor: pointer;
    }

    .custom-button:hover {
      background-color: #BFBFBF; /* Cambia el color al pasar el cursor sobre el botón */
    }


      margin: 4px 2px;
      transition-duration: 0.0s; /* Agrega una transición suave */
      cursor: pointer;
    }

    .custom-button:hover {
      background-color: #BFBFBF; /* Cambia el color al pasar el cursor sobre el botón */
    }

