body{
    background: url(../img/vino.jpg);
    background-size:cover;
}
.parrafo{
			color: white;
		}


h1{
   color: white;
   font-family: Arial, sans-serif; 
  }
  /* Estilo para la galería */
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  
  /* Estilo para las imágenes */
  .gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  figcaption{
    color: white;

  }



    .body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 5.5s ease;
}

.carousel-image {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    padding: 10px;
}



.image-container {
    text-align: center;
}
